body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header-content .header-block-container {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  border-bottom: 1px solid whitesmoke;
  padding: 12px 30px;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  .label-content {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;

    h1 {
      flex: 0 0 100%;
      margin: 8px 0px 0px;
    }

    div.subtitle {
      flex: 0 0 100%;
      font-size: 16 * 0.85;
      color: lightblue;
      margin-top: 3px;
      margin-left: 2px;
    }
  }

  .header-buttons {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    li {
      display: inline-block;
      margin-top: 15px;

      a {
        text-decoration: none;
      }
    }

    &.emails {
      li a {
        color: lightblue;
      }

      li:hover {
        a {
          color: whitesmoke;
        }
      }
    }
  }

  // @include media($tablet) {
  //   justify-content: space-between;
  //   .label-content {
  //     flex: 0 1 auto;
  //     max-width: 50%;
  //   }

  //   .header-buttons {
  //     justify-content: flex-end;

  //     li {
  //       margin-top: 0px;
  //       margin-left: 15px;
  //     }
  //   }
  // }
}
